MANAGE_PY_PATH=manage.py
# Docker image version
VERSION=0.1.0
# django secret key, generate your own using `python -c "import secrets; print(secrets.token_urlsafe())"`
SECRET_KEY=replace-with-your-key
DEBUG=True
# set allowed hosts, comma separated, e.g. localhost,example.com
ALLOWED_HOSTS=localhost,127.0.0.1
# set force script name if your app is served under a subpath, e.g. /mysite
FORCE_SCRIPT_NAME=/mysite
# CSRF trusted origins, comma separated, e.g. http://localhost:8000,https://example.com
CSRF_TRUSTED_ORIGINS=http://localhost:8000
# log file path
LOGFILE=log/{{ cookiecutter.project }}.log
# log level
LOGGER_LEVEL=INFO
# supper user setting
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=your.email@example.com
DJANGO_SUPERUSER_PASSWORD=replace-with-your-password
# Deployment settings
GUNICORN_WORKERS=4
GUNICORN_THREADS=4
# database settings
DB_NAME={{ cookiecutter.project }}
DB_USER={{ cookiecutter.project }}
DB_PASSWORD={{ cookiecutter.project }}
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60
# redis settings
REDIS_HOST=localhost
REDIS_PORT=6379
# celery settings
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
# sentry settings
SENTRY_DSN=your-dns-url
SENTRY_LOG=True
SENTRY_TRACES_SAMPLE_RATE=0.01
SENTRY_PROFILE=trace
